In [2]:
import pandas as pd
team_data=pd.read_excel(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\team_data_new.xlsx")

In [23]:
team_data.columns

Index(['GAME_ID', 'TEAM_ID_x', 'TEAM_CITY', 'FGM', 'FGA', 'FG3M', 'FG3A',
       'FTM', 'FTA', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF',
       'PTS', 'TEAM_WINS', 'IS_HOME', 'SEASON', 'FG_PCT', 'FG3_PCT', 'FT_PCT',
       'eFG%', 'OPP_TEAM_ID_x', 'avg_pts', 'avg_fg_pct', 'avg_ft_pct',
       'avg_fg3_pct', 'avg_ast', 'avg_reb', 'win_streak', 'home_avg_pts',
       'away_avg_pts', 'home_win_pct', 'away_win_pct',
       'home_head_to_head_avg_pts', 'home_head_to_head_win_pct', 'TEAM_ID_y',
       'OPP_TEAM_ID_y', 'away_head_to_head_avg_pts',
       'away_head_to_head_win_pct', 'opp_avg_pts', 'opp_avg_fg_pct',
       'opp_avg_ft_pct', 'opp_avg_fg3_pct', 'opp_avg_ast', 'opp_avg_reb',
       'opp_win_streak', 'opp_home_avg_pts', 'opp_away_avg_pts',
       'opp_home_win_pct', 'opp_away_win_pct'],
      dtype='object')

In [24]:
team_data

,GAME_ID,TEAM_ID_x,TEAM_CITY,FGM,FGA,FG3M,FG3A,FTM,FTA,OREB,...,opp_avg_fg_pct,opp_avg_ft_pct,opp_avg_fg3_pct,opp_avg_ast,opp_avg_reb,opp_win_streak,opp_home_avg_pts,opp_away_avg_pts,opp_home_win_pct,opp_away_win_pct
0,10400070,1610612737,Atlanta,29,72,1,9,23,35,12,...,0.0000,0.0000,0.0000,0.0,0.0,0,0.0,0.0,0.0,0.0
1,10400073,1610612737,Atlanta,26,78,4,15,16,30,11,...,0.0000,0.0000,0.0000,0.0,0.0,0,0.0,0.0,0.0,0.0
2,10500003,1610612737,Atlanta,30,70,1,5,32,43,15,...,0.0000,0.0000,0.0000,0.0,0.0,0,0.0,0.0,0.0,0.0
3,10500015,1610612737,Atlanta,38,78,4,6,29,34,10,...,0.0000,0.0000,0.0000,0.0,0.0,0,0.0,0.0,0.0,0.0
4,10500042,1610612737,Atlanta,33,67,6,11,16,22,12,...,0.4870,0.8530,0.6670,18.0,40.0,1,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50469,41500125,1610612766,Charlotte,33,84,12,24,12,15,5,...,0.4308,0.8120,0.2448,14.0,37.2,2,94.4,98.8,0.2,0.0
50470,41500126,1610612766,Charlotte,32,76,5,17,21,25,5,...,0.4080,0.8320,0.2888,13.8,38.2,3,95.0,98.8,0.4,0.0
50471,41500127,1610612766,Charlotte,27,84,7,22,12,12,3,...,0.4060,0.8432,0.2770,14.0,38.8,0,95.0,93.8,0.4,0.2
50472,52000111,1610612766,Charlotte,43,94,12,40,19,25,7,...,0.5060,0.7264,0.4098,30.0,43.8,0,95.0,110.6,0.4,0.6
50473,52100111,1610612766,Charlotte,34,90,13,41,22,29,11,...,0.4680,0.7328,0.3314,25.6,46.2,0,95.0,120.2,0.4,0.6

In [25]:
# Convert as an excel file 
save_path = r"C:\Users\Daphne\OneDrive\Documents\NBA data set\past data games.xlsx"

# Save the DataFrame to an Excel file
team_data.to_excel(save_path, index=False)

print(f"Data saved to {save_path}")

Data saved to C:\Users\Daphne\OneDrive\Documents\NBA data set\past data games.xlsx

In [27]:
game_data=pd.read_excel(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\games_home_away.xlsx")

In [28]:
team_data_merged = pd.merge(team_data, game_data[['GAME_ID', 'GAME_DATE_EST']], on='GAME_ID', how='left')

In [29]:
team_data_merged

,GAME_ID,TEAM_ID_x,TEAM_CITY,FGM,FGA,FG3M,FG3A,FTM,FTA,OREB,...,opp_avg_ft_pct,opp_avg_fg3_pct,opp_avg_ast,opp_avg_reb,opp_win_streak,opp_home_avg_pts,opp_away_avg_pts,opp_home_win_pct,opp_away_win_pct,GAME_DATE_EST
0,10400070,1610612737,Atlanta,29,72,1,9,23,35,12,...,0.0000,0.0000,0.0,0.0,0,0.0,0.0,0.0,0.0,2004-10-22
1,10400073,1610612737,Atlanta,26,78,4,15,16,30,11,...,0.0000,0.0000,0.0,0.0,0,0.0,0.0,0.0,0.0,2004-10-23
2,10500003,1610612737,Atlanta,30,70,1,5,32,43,15,...,0.0000,0.0000,0.0,0.0,0,0.0,0.0,0.0,0.0,2005-10-11
3,10500015,1610612737,Atlanta,38,78,4,6,29,34,10,...,0.0000,0.0000,0.0,0.0,0,0.0,0.0,0.0,0.0,2005-10-12
4,10500042,1610612737,Atlanta,33,67,6,11,16,22,12,...,0.8530,0.6670,18.0,40.0,1,0.0,0.0,0.0,0.0,2005-10-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50469,41500125,1610612766,Charlotte,33,84,12,24,12,15,5,...,0.8120,0.2448,14.0,37.2,2,94.4,98.8,0.2,0.0,2016-04-27
50470,41500126,1610612766,Charlotte,32,76,5,17,21,25,5,...,0.8320,0.2888,13.8,38.2,3,95.0,98.8,0.4,0.0,2016-04-29
50471,41500127,1610612766,Charlotte,27,84,7,22,12,12,3,...,0.8432,0.2770,14.0,38.8,0,95.0,93.8,0.4,0.2,2016-05-01
50472,52000111,1610612766,Charlotte,43,94,12,40,19,25,7,...,0.7264,0.4098,30.0,43.8,0,95.0,110.6,0.4,0.6,2021-05-18
50473,52100111,1610612766,Charlotte,34,90,13,41,22,29,11,...,0.7328,0.3314,25.6,46.2,0,95.0,120.2,0.4,0.6,2022-04-13

In [33]:
team_data_merged.to_excel(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\past data games.xlsx")

In [34]:
team_data_one=pd.read_excel(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\team_data.xlsx")

In [35]:
team_data_new = pd.merge(team_data_one, game_data[['GAME_ID', 'GAME_DATE_EST']], on='GAME_ID', how='left')

In [36]:
team_data_new

,GAME_ID,TEAM_ID,TEAM_CITY,FGM,FGA,FG3M,FG3A,FTM,FTA,OREB,...,PF,PTS,TEAM_WINS,IS_HOME,SEASON,FG_PCT,FG3_PCT,FT_PCT,eFG%,GAME_DATE_EST
0,22200360,1610612739,Cleveland,48,93,7,27,13,17,9,...,20,116,1,1,2022,0.516,0.259,0.765,0.554,2022-12-06
1,22200003,1610612765,Detroit,40,94,14,38,19,24,12,...,21,113,1,1,2022,0.425,0.368,0.792,0.500,2022-10-19
2,22200010,1610612760,Seattle/Oklahoma City,38,99,14,45,18,22,16,...,26,108,0,0,2022,0.384,0.311,0.818,0.455,2022-10-19
3,22200010,1610612750,Minnesota,39,94,10,38,27,33,14,...,21,115,1,1,2022,0.415,0.263,0.818,0.468,2022-10-19
4,22200009,1610612763,Memphis,42,108,17,50,14,23,20,...,17,115,1,1,2022,0.389,0.340,0.609,0.468,2022-10-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50469,20400355,1610612741,Chicago,35,75,4,14,18,22,10,...,22,92,1,1,2004,0.467,0.286,0.818,0.493,2004-12-20
50470,20400355,1610612757,Portland,32,82,5,13,18,24,17,...,21,87,0,0,2004,0.390,0.384,0.750,0.421,2004-12-20
50471,20400356,1610612745,Houston,41,79,3,14,29,38,12,...,24,114,1,1,2004,0.519,0.214,0.763,0.538,2004-12-20
50472,20400356,1610612761,Toronto,35,76,8,26,24,34,10,...,30,102,0,0,2004,0.460,0.308,0.706,0.513,2004-12-20
50473,10400064,1610612743,Denver,42,87,4,11,17,23,10,...,24,105,1,0,2004,0.483,0.364,0.739,0.506,2004-10-22

In [37]:
team_data_new.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_CITY', 'FGM', 'FGA', 'FG3M', 'FG3A', 'FTM',
       'FTA', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'TEAM_WINS', 'IS_HOME', 'SEASON', 'FG_PCT', 'FG3_PCT', 'FT_PCT', 'eFG%',
       'GAME_DATE_EST'],
      dtype='object')

In [ ]:
stl, to, pf, fga, efg%,fgm

In [5]:
team_data.columns

Index(['Unnamed: 0', 'GAME_ID', 'TEAM_ID', 'TEAM_CITY', 'FGM', 'FGA', 'FG3M',
       'FG3A', 'FTM', 'FTA', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO',
       'PF', 'PTS', 'TEAM_WINS', 'IS_HOME', 'SEASON', 'FG_PCT', 'FG3_PCT',
       'FT_PCT', 'eFG%', 'GAME_DATE_EST', 'OPP_TEAM_ID', 'avg_pts',
       'avg_fg_pct', 'avg_ft_pct', 'avg_fg3_pct', 'avg_ast', 'avg_reb',
       'avg_stl', 'avg_to', 'avg_pf', 'avg_fga', 'avg_efg_pct', 'avg_fgm'],
      dtype='object')

In [39]:
team_data_new.to_excel(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\team_data_new.xlsx")

In [6]:

# Display the columns to verify the column names
print("Columns in the dataset:", team_data.columns)

# Check if the necessary columns exist
required_columns = ['GAME_ID', 'TEAM_ID', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST', 'REB', 'TEAM_WINS', 'STL', 'BLK', 'IS_HOME', 'TO', 'PF', 'FGA', 'eFG%', 'FGM', 'GAME_DATE_EST']
for col in required_columns:
    if col not in team_data.columns:
        raise KeyError(f'Column not found: {col}')

# Create a dictionary that maps GAME_ID to the list of teams that played in that game
game_to_teams = team_data.groupby('GAME_ID')['TEAM_ID'].apply(list).to_dict()

# Define a function to get the opponent team ID'
def get_opponent_team_id(row):
    teams = game_to_teams[row['GAME_ID']]
    return teams[1] if teams[0] == row['TEAM_ID'] else teams[0]

# Apply the function to create the OPP_TEAM_ID column
team_data['OPP_TEAM_ID'] = team_data.apply(get_opponent_team_id, axis=1)

# Verify that the OPP_TEAM_ID column has been created
if 'OPP_TEAM_ID' not in team_data.columns:
    raise KeyError('OPP_TEAM_ID column not found in the DataFrame')

# Sort by team and game date
team_data['GAME_DATE_EST'] = pd.to_datetime(team_data['GAME_DATE_EST'])
team_data = team_data.sort_values(by=['TEAM_ID', 'GAME_DATE_EST'])

# Calculate rolling averages for the last 5 games, excluding the current game for TEAM_ID
team_data['avg_pts'] = team_data.groupby('TEAM_ID')['PTS'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['avg_fg_pct'] = team_data.groupby('TEAM_ID')['FG_PCT'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['avg_ft_pct'] = team_data.groupby('TEAM_ID')['FT_PCT'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['avg_fg3_pct'] = team_data.groupby('TEAM_ID')['FG3_PCT'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['avg_ast'] = team_data.groupby('TEAM_ID')['AST'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['avg_reb'] = team_data.groupby('TEAM_ID')['REB'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['avg_stl'] = team_data.groupby('TEAM_ID')['STL'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['avg_to'] = team_data.groupby('TEAM_ID')['TO'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['avg_pf'] = team_data.groupby('TEAM_ID')['PF'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['avg_fga'] = team_data.groupby('TEAM_ID')['FGA'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['avg_efg_pct'] = team_data.groupby('TEAM_ID')['eFG%'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['avg_fgm'] = team_data.groupby('TEAM_ID')['FGM'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['avg_blk'] = team_data.groupby('TEAM_ID')['BLK'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())

# Calculate win/loss streaks for TEAM_ID
def calculate_win_streaks(group):
    streak = 0
    streaks = []
    for result in group.shift(1):  # Shift by 1 to exclude the current game
        if result == 1:
            streak += 1
        else:
            streak = 0
        streaks.append(streak)
    return pd.Series(streaks, index=group.index)

team_data['win_streak'] = team_data.groupby('TEAM_ID')['TEAM_WINS'].apply(calculate_win_streaks).reset_index(level=0, drop=True)

# Calculate home/away performance for TEAM_ID
team_data['home_avg_pts'] = team_data.groupby('TEAM_ID').apply(lambda group: group[group['IS_HOME'] == 1]['PTS'].shift(1).rolling(window=5, min_periods=1).mean()).reset_index(level=0, drop=True)
team_data['away_avg_pts'] = team_data.groupby('TEAM_ID').apply(lambda group: group[group['IS_HOME'] == 0]['PTS'].shift(1).rolling(window=5, min_periods=1).mean()).reset_index(level=0, drop=True)
team_data['home_win_pct'] = team_data.groupby('TEAM_ID').apply(lambda group: group[group['IS_HOME'] == 1]['TEAM_WINS'].shift(1).rolling(window=5, min_periods=1).mean()).reset_index(level=0, drop=True)
team_data['away_win_pct'] = team_data.groupby('TEAM_ID').apply(lambda group: group[group['IS_HOME'] == 0]['TEAM_WINS'].shift(1).rolling(window=5, min_periods=1).mean()).reset_index(level=0, drop=True)

# Calculate head-to-head features
head_to_head = team_data.groupby(['TEAM_ID', 'OPP_TEAM_ID']).agg(
    head_to_head_avg_pts=('PTS', 'mean'),
    head_to_head_win_pct=('TEAM_WINS', 'mean')
).reset_index()

# Merge head-to-head stats back to the main dataframe for home and away teams
team_data = pd.merge(team_data, head_to_head, left_on=['TEAM_ID', 'OPP_TEAM_ID'], right_on=['TEAM_ID', 'OPP_TEAM_ID'], how='left')
team_data = team_data.rename(columns={
    'head_to_head_avg_pts': 'home_head_to_head_avg_pts',
    'head_to_head_win_pct': 'home_head_to_head_win_pct'
})

team_data = pd.merge(team_data, head_to_head, left_on=['OPP_TEAM_ID', 'TEAM_ID'], right_on=['TEAM_ID', 'OPP_TEAM_ID'], how='left')
team_data = team_data.rename(columns={
    'head_to_head_avg_pts': 'away_head_to_head_avg_pts',
    'head_to_head_win_pct': 'away_head_to_head_win_pct'
})

# Calculate rolling averages for the last 5 games, excluding the current game for OPP_TEAM_ID
team_data = team_data.sort_values(by=['OPP_TEAM_ID_x', 'GAME_DATE_EST'])

team_data['opp_avg_pts'] = team_data.groupby('OPP_TEAM_ID_x')['PTS'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['opp_avg_fg_pct'] = team_data.groupby('OPP_TEAM_ID_x')['FG_PCT'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['opp_avg_ft_pct'] = team_data.groupby('OPP_TEAM_ID_x')['FT_PCT'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['opp_avg_fg3_pct'] = team_data.groupby('OPP_TEAM_ID_x')['FG3_PCT'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['opp_avg_ast'] = team_data.groupby('OPP_TEAM_ID_x')['AST'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['opp_avg_reb'] = team_data.groupby('OPP_TEAM_ID_x')['REB'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['opp_avg_stl'] = team_data.groupby('OPP_TEAM_ID_x')['STL'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['opp_avg_to'] = team_data.groupby('OPP_TEAM_ID_x')['TO'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['opp_avg_pf'] = team_data.groupby('OPP_TEAM_ID_x')['PF'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['opp_avg_fga'] = team_data.groupby('OPP_TEAM_ID_x')['FGA'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['opp_avg_efg_pct'] = team_data.groupby('OPP_TEAM_ID_x')['eFG%'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['opp_avg_fgm'] = team_data.groupby('OPP_TEAM_ID_x')['FGM'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())
team_data['opp_avg_blk'] = team_data.groupby('OPP_TEAM_ID_x')['BLK'].transform(lambda x: x.shift(1).rolling(window=10, min_periods=1).mean())

# Calculate win/loss streaks for OPP_TEAM_ID
team_data['opp_win_streak'] = team_data.groupby('OPP_TEAM_ID_x')['TEAM_WINS'].apply(calculate_win_streaks).reset_index(level=0, drop=True)

# Calculate home/away performance for OPP_TEAM_ID
team_data['opp_home_avg_pts'] = team_data.groupby('OPP_TEAM_ID_x').apply(lambda group: group[group['IS_HOME'] == 1]['PTS'].shift(1).rolling(window=5, min_periods=1).mean()).reset_index(level=0, drop=True)
team_data['opp_away_avg_pts'] = team_data.groupby('OPP_TEAM_ID_x').apply(lambda group: group[group['IS_HOME'] == 0]['PTS'].shift(1).rolling(window=5, min_periods=1).mean()).reset_index(level=0, drop=True)
team_data['opp_home_win_pct'] = team_data.groupby('OPP_TEAM_ID_x').apply(lambda group: group[group['IS_HOME'] == 1]['TEAM_WINS'].shift(1).rolling(window=5, min_periods=1).mean()).reset_index(level=0, drop=True)
team_data['opp_away_win_pct'] = team_data.groupby('OPP_TEAM_ID_x').apply(lambda group: group[group['IS_HOME'] == 0]['TEAM_WINS'].shift(1).rolling(window=5, min_periods=1).mean()).reset_index(level=0, drop=True)

# Fill missing values using forward fill
team_data = team_data.fillna(method='ffill')

# If there are still NaNs (for the very first match), fill them with 0
team_data = team_data.fillna(0)


# Select relevant features for the model
features = [
    'avg_pts', 'avg_fg_pct', 'avg_ft_pct', 'avg_fg3_pct', 'avg_ast', 'avg_reb', 
    'avg_stl', 'avg_to', 'avg_pf', 'avg_fga', 'avg_efg_pct', 'avg_fgm',
    'win_streak', 'home_avg_pts', 'away_avg_pts', 'home_win_pct', 'away_win_pct', 
    'home_head_to_head_avg_pts', 'home_head_to_head_win_pct', 
    'away_head_to_head_avg_pts', 'away_head_to_head_win_pct',
    'opp_avg_pts', 'opp_avg_fg_pct', 'opp_avg_ft_pct', 'opp_avg_fg3_pct', 
    'opp_avg_ast', 'opp_avg_reb', 'opp_avg_stl', 'opp_avg_to', 'opp_avg_pf', 
    'opp_avg_fga', 'opp_avg_efg_pct', 'opp_avg_fgm',
    'opp_win_streak', 'opp_home_avg_pts', 'opp_away_avg_pts', 'opp_home_win_pct', 'opp_away_win_pct'
]

target = 'TEAM_WINS'

# Split the dataset into features (X) and target (y)
X = team_data[features]
y = team_data[target]

# Display the first few rows of the feature matrix and target variable
print(X.head())
print(y.head())

Columns in the dataset: Index(['Unnamed: 0', 'GAME_ID', 'TEAM_ID', 'TEAM_CITY', 'FGM', 'FGA', 'FG3M',
       'FG3A', 'FTM', 'FTA', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO',
       'PF', 'PTS', 'TEAM_WINS', 'IS_HOME', 'SEASON', 'FG_PCT', 'FG3_PCT',
       'FT_PCT', 'eFG%', 'GAME_DATE_EST', 'OPP_TEAM_ID', 'avg_pts',
       'avg_fg_pct', 'avg_ft_pct', 'avg_fg3_pct', 'avg_ast', 'avg_reb',
       'avg_stl', 'avg_to', 'avg_pf', 'avg_fga', 'avg_efg_pct', 'avg_fgm'],
      dtype='object')
       avg_pts  avg_fg_pct  avg_ft_pct  avg_fg3_pct    avg_ast    avg_reb  \
18786      0.0    0.000000    0.000000     0.000000   0.000000   0.000000
43871      0.0    0.000000    0.000000     0.000000   0.000000   0.000000
32098    112.0    0.479333    0.765333     0.403667  22.333333  51.333333
38811     87.5    0.414500    0.780500     0.345500  16.250000  38.500000
17064     94.0    0.400250    0.778750     0.360750  17.000000  44.000000

        avg_stl     avg_to  avg_pf  avg_fga  ...  opp_avg_to  opp_avg_pf  \
18786  0.000000   0.000000    0.00      0.0  ...    0.000000        0.00
43871  0.000000   0.000000    0.00      0.0  ...   12.000000       34.00
32098  7.333333  18.666667   29.00     79.0  ...   14.500000       32.00
38811  7.000000  18.000000   25.75     75.5  ...   16.666667       30.00
17064  7.250000  16.500000   27.00     71.5  ...   16.250000       29.25

       opp_avg_fga  opp_avg_efg_pct  opp_avg_fgm  opp_win_streak  \
18786     0.000000         0.000000          0.0               0
43871    67.000000         0.619000         39.0               1
32098    71.500000         0.569500         39.0               2
38811    77.333333         0.557667         41.0               3
17064    76.250000         0.557000         40.0               4

       opp_home_avg_pts  opp_away_avg_pts  opp_home_win_pct  opp_away_win_pct
18786          0.000000               0.0               0.0               0.0
43871          0.000000               0.0               0.0               0.0
32098        104.000000               0.0               1.0               0.0
38811        108.000000               0.0               1.0               0.0
17064        107.333333               0.0               1.0               0.0

[5 rows x 38 columns]
18786    1
43871    1
32098    1
38811    1
17064    1
Name: TEAM_WINS, dtype: int64

C:\Users\Daphne\AppData\Local\Temp\ipykernel_23864\1451776802.py:110: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  team_data = team_data.fillna(method='ffill')

In [68]:
#team_data.to_excel(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\past data games.xlsx")

In [7]:
team_data.columns

Index(['Unnamed: 0', 'GAME_ID', 'TEAM_ID_x', 'TEAM_CITY', 'FGM', 'FGA', 'FG3M',
       'FG3A', 'FTM', 'FTA', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO',
       'PF', 'PTS', 'TEAM_WINS', 'IS_HOME', 'SEASON', 'FG_PCT', 'FG3_PCT',
       'FT_PCT', 'eFG%', 'GAME_DATE_EST', 'OPP_TEAM_ID_x', 'avg_pts',
       'avg_fg_pct', 'avg_ft_pct', 'avg_fg3_pct', 'avg_ast', 'avg_reb',
       'avg_stl', 'avg_to', 'avg_pf', 'avg_fga', 'avg_efg_pct', 'avg_fgm',
       'avg_blk', 'win_streak', 'home_avg_pts', 'away_avg_pts', 'home_win_pct',
       'away_win_pct', 'home_head_to_head_avg_pts',
       'home_head_to_head_win_pct', 'TEAM_ID_y', 'OPP_TEAM_ID_y',
       'away_head_to_head_avg_pts', 'away_head_to_head_win_pct', 'opp_avg_pts',
       'opp_avg_fg_pct', 'opp_avg_ft_pct', 'opp_avg_fg3_pct', 'opp_avg_ast',
       'opp_avg_reb', 'opp_avg_stl', 'opp_avg_to', 'opp_avg_pf', 'opp_avg_fga',
       'opp_avg_efg_pct', 'opp_avg_fgm', 'opp_avg_blk', 'opp_win_streak',
       'opp_home_avg_pts', 'opp_away_avg_pts', 'opp_home_win_pct',
       'opp_away_win_pct'],
      dtype='object')

In [10]:
team_data

,GAME_ID,SEASON,GAME_DATE_EST,OPP_TEAM_ID_x,avg_pts,avg_fg_pct,avg_ft_pct,avg_fg3_pct,avg_ast,avg_reb,...,opp_avg_pf,opp_avg_fga,opp_avg_efg_pct,opp_avg_fgm,opp_avg_blk,opp_win_streak,opp_home_avg_pts,opp_away_avg_pts,opp_home_win_pct,opp_away_win_pct
18786,10400070,2004,2004-10-22,1610612737,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.0,0.000000,0,0.000000,0.0,0.0,0.0
43871,10400073,2004,2004-10-23,1610612737,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,34.00,67.000000,0.619000,39.0,4.000000,1,0.000000,0.0,0.0,0.0
32098,20400013,2004,2004-11-03,1610612737,112.0,0.479333,0.765333,0.403667,22.333333,51.333333,...,32.00,71.500000,0.569500,39.0,6.000000,2,104.000000,0.0,1.0,0.0
38811,20400029,2004,2004-11-05,1610612737,87.5,0.414500,0.780500,0.345500,16.250000,38.500000,...,30.00,77.333333,0.557667,41.0,6.666667,3,108.000000,0.0,1.0,0.0
17064,20400044,2004,2004-11-07,1610612737,94.0,0.400250,0.778750,0.360750,17.000000,44.000000,...,29.25,76.250000,0.557000,40.0,7.500000,4,107.333333,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48868,22200414,2022,2022-12-14,1610612766,110.8,0.460800,0.757900,0.377800,23.700000,41.300000,...,20.90,89.200000,0.560200,43.3,7.300000,5,121.000000,113.8,0.8,0.6
1692,22200428,2022,2022-12-16,1610612766,111.0,0.463800,0.791800,0.318500,23.800000,43.000000,...,21.90,89.200000,0.571500,44.1,6.800000,6,121.000000,120.4,0.8,0.8
11937,22200450,2022,2022-12-18,1610612766,117.8,0.533300,0.735900,0.359400,28.500000,40.500000,...,21.80,88.100000,0.586800,44.4,7.000000,7,126.200000,120.4,1.0,0.8
37034,22200460,2022,2022-12-19,1610612766,115.4,0.483200,0.806000,0.343000,26.100000,43.700000,...,20.80,87.900000,0.591000,44.6,6.400000,8,123.600000,120.4,1.0,0.8
17059,22200476,2022,2022-12-21,1610612766,107.1,0.421500,0.764200,0.374000,21.200000,47.300000,...,21.30,88.100000,0.572700,43.6,6.100000,0,126.200000,120.4,0.8,0.8

In [11]:
# Drop all rows where the SEASON is 2004
team_data_filtered = team_data[team_data['SEASON'] != 2004]

In [12]:
team_data_filtered

,GAME_ID,SEASON,GAME_DATE_EST,OPP_TEAM_ID_x,avg_pts,avg_fg_pct,avg_ft_pct,avg_fg3_pct,avg_ast,avg_reb,...,opp_avg_pf,opp_avg_fga,opp_avg_efg_pct,opp_avg_fgm,opp_avg_blk,opp_win_streak,opp_home_avg_pts,opp_away_avg_pts,opp_home_win_pct,opp_away_win_pct
27174,10500003,2005,2005-10-11,1610612737,97.5,0.4624,0.6759,0.3666,20.6,41.8,...,22.0,78.9,0.5388,39.0,5.9,2,112.0,102.6,0.8,0.8
48958,10500015,2005,2005-10-12,1610612737,96.9,0.4524,0.7585,0.3047,22.6,42.0,...,22.8,79.3,0.5314,38.7,6.0,3,112.0,104.2,0.8,0.8
48961,10500042,2005,2005-10-17,1610612737,95.2,0.4442,0.7452,0.2717,22.3,41.6,...,23.3,80.9,0.5333,39.6,5.6,0,110.4,104.2,0.8,0.8
5298,10500047,2005,2005-10-18,1610612737,87.3,0.4173,0.7656,0.3036,20.3,39.3,...,23.7,79.9,0.5367,39.7,5.3,1,108.8,104.2,0.8,0.8
27178,10500074,2005,2005-10-22,1610612737,94.1,0.4563,0.6535,0.3258,19.0,40.0,...,23.2,79.1,0.5415,39.5,5.5,0,105.8,104.2,0.6,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48868,22200414,2022,2022-12-14,1610612766,110.8,0.4608,0.7579,0.3778,23.7,41.3,...,20.9,89.2,0.5602,43.3,7.3,5,121.0,113.8,0.8,0.6
1692,22200428,2022,2022-12-16,1610612766,111.0,0.4638,0.7918,0.3185,23.8,43.0,...,21.9,89.2,0.5715,44.1,6.8,6,121.0,120.4,0.8,0.8
11937,22200450,2022,2022-12-18,1610612766,117.8,0.5333,0.7359,0.3594,28.5,40.5,...,21.8,88.1,0.5868,44.4,7.0,7,126.2,120.4,1.0,0.8
37034,22200460,2022,2022-12-19,1610612766,115.4,0.4832,0.8060,0.3430,26.1,43.7,...,20.8,87.9,0.5910,44.6,6.4,8,123.6,120.4,1.0,0.8
17059,22200476,2022,2022-12-21,1610612766,107.1,0.4215,0.7642,0.3740,21.2,47.3,...,21.3,88.1,0.5727,43.6,6.1,0,126.2,120.4,0.8,0.8

In [13]:
# Round off all decimal data to 3 decimal points
team_data_filtered = team_data_filtered.round(3)

In [14]:
team_data_filtered

,GAME_ID,SEASON,GAME_DATE_EST,OPP_TEAM_ID_x,avg_pts,avg_fg_pct,avg_ft_pct,avg_fg3_pct,avg_ast,avg_reb,...,opp_avg_pf,opp_avg_fga,opp_avg_efg_pct,opp_avg_fgm,opp_avg_blk,opp_win_streak,opp_home_avg_pts,opp_away_avg_pts,opp_home_win_pct,opp_away_win_pct
27174,10500003,2005,2005-10-11,1610612737,97.5,0.462,0.676,0.367,20.6,41.8,...,22.0,78.9,0.539,39.0,5.9,2,112.0,102.6,0.8,0.8
48958,10500015,2005,2005-10-12,1610612737,96.9,0.452,0.758,0.305,22.6,42.0,...,22.8,79.3,0.531,38.7,6.0,3,112.0,104.2,0.8,0.8
48961,10500042,2005,2005-10-17,1610612737,95.2,0.444,0.745,0.272,22.3,41.6,...,23.3,80.9,0.533,39.6,5.6,0,110.4,104.2,0.8,0.8
5298,10500047,2005,2005-10-18,1610612737,87.3,0.417,0.766,0.304,20.3,39.3,...,23.7,79.9,0.537,39.7,5.3,1,108.8,104.2,0.8,0.8
27178,10500074,2005,2005-10-22,1610612737,94.1,0.456,0.654,0.326,19.0,40.0,...,23.2,79.1,0.542,39.5,5.5,0,105.8,104.2,0.6,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48868,22200414,2022,2022-12-14,1610612766,110.8,0.461,0.758,0.378,23.7,41.3,...,20.9,89.2,0.560,43.3,7.3,5,121.0,113.8,0.8,0.6
1692,22200428,2022,2022-12-16,1610612766,111.0,0.464,0.792,0.318,23.8,43.0,...,21.9,89.2,0.572,44.1,6.8,6,121.0,120.4,0.8,0.8
11937,22200450,2022,2022-12-18,1610612766,117.8,0.533,0.736,0.359,28.5,40.5,...,21.8,88.1,0.587,44.4,7.0,7,126.2,120.4,1.0,0.8
37034,22200460,2022,2022-12-19,1610612766,115.4,0.483,0.806,0.343,26.1,43.7,...,20.8,87.9,0.591,44.6,6.4,8,123.6,120.4,1.0,0.8
17059,22200476,2022,2022-12-21,1610612766,107.1,0.422,0.764,0.374,21.2,47.3,...,21.3,88.1,0.573,43.6,6.1,0,126.2,120.4,0.8,0.8

In [15]:
team_data_filtered.to_excel(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\team_past_dummy.xlsx")

In [11]:
team_data_filtered.columns

Index(['GAME_ID', 'SEASON', 'GAME_DATE_EST', 'OPP_TEAM_ID_x', 'avg_pts',
       'avg_fg_pct', 'avg_ft_pct', 'avg_fg3_pct', 'avg_ast', 'avg_reb',
       'avg_stl', 'avg_to', 'avg_pf', 'avg_fga', 'avg_efg_pct', 'avg_fgm',
       'win_streak', 'home_avg_pts', 'away_avg_pts', 'home_win_pct',
       'away_win_pct', 'home_head_to_head_avg_pts',
       'home_head_to_head_win_pct', 'OPP_TEAM_ID_y',
       'away_head_to_head_avg_pts', 'away_head_to_head_win_pct', 'opp_avg_pts',
       'opp_avg_fg_pct', 'opp_avg_ft_pct', 'opp_avg_fg3_pct', 'opp_avg_ast',
       'opp_avg_reb', 'opp_avg_stl', 'opp_avg_to', 'opp_avg_pf', 'opp_avg_fga',
       'opp_avg_efg_pct', 'opp_avg_fgm', 'opp_win_streak', 'opp_home_avg_pts',
       'opp_away_avg_pts', 'opp_home_win_pct', 'opp_away_win_pct'],
      dtype='object')

In [12]:
team_data_filtered.to_excel(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\modelling_team_data_new.xlsx")

In [13]:
dummy_data=pd.read_excel(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\team_data_new.xlsx")

In [15]:
dummy_data.columns

Index(['Unnamed: 0', 'GAME_ID', 'TEAM_ID', 'TEAM_CITY', 'FGM', 'FGA', 'FG3M',
       'FG3A', 'FTM', 'FTA', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO',
       'PF', 'PTS', 'TEAM_WINS', 'IS_HOME', 'SEASON', 'FG_PCT', 'FG3_PCT',
       'FT_PCT', 'eFG%', 'GAME_DATE_EST'],
      dtype='object')

In [16]:
dummy_data.drop(['Unnamed: 0', 'TEAM_CITY', 'FGM', 'FGA', 'FG3M',
       'FG3A', 'FTM', 'FTA', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO',
       'PF', 'PTS','FG_PCT','SEASON', 'FG3_PCT',
       'FT_PCT', 'eFG%', 'GAME_DATE_EST'],axis=1, inplace=True)

In [95]:
"""team_data.drop(['Unnamed: 0', 'TEAM_ID_x', 'TEAM_CITY', 'FGM', 'FGA', 'FG3M',
       'FG3A', 'FTM', 'FTA', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO',
       'PF', 'PTS', 'TEAM_WINS', 'IS_HOME', 'SEASON', 'FG_PCT', 'FG3_PCT',
       'FT_PCT', 'eFG%','TEAM_ID_y'], axis=1, inplace=True)"""

In [17]:
team_data.columns

Index(['GAME_ID', 'SEASON', 'GAME_DATE_EST', 'OPP_TEAM_ID_x', 'avg_pts',
       'avg_fg_pct', 'avg_ft_pct', 'avg_fg3_pct', 'avg_ast', 'avg_reb',
       'avg_stl', 'avg_to', 'avg_pf', 'avg_fga', 'avg_efg_pct', 'avg_fgm',
       'win_streak', 'home_avg_pts', 'away_avg_pts', 'home_win_pct',
       'away_win_pct', 'home_head_to_head_avg_pts',
       'home_head_to_head_win_pct', 'OPP_TEAM_ID_y',
       'away_head_to_head_avg_pts', 'away_head_to_head_win_pct', 'opp_avg_pts',
       'opp_avg_fg_pct', 'opp_avg_ft_pct', 'opp_avg_fg3_pct', 'opp_avg_ast',
       'opp_avg_reb', 'opp_avg_stl', 'opp_avg_to', 'opp_avg_pf', 'opp_avg_fga',
       'opp_avg_efg_pct', 'opp_avg_fgm', 'opp_win_streak', 'opp_home_avg_pts',
       'opp_away_avg_pts', 'opp_home_win_pct', 'opp_away_win_pct'],
      dtype='object')

In [18]:
overall_merged = team_data.merge(dummy_data, left_on=['GAME_ID','OPP_TEAM_ID_x'], right_on=['GAME_ID','TEAM_ID'], how= 'left')

In [19]:
overall_merged

,GAME_ID,SEASON,GAME_DATE_EST,OPP_TEAM_ID_x,avg_pts,avg_fg_pct,avg_ft_pct,avg_fg3_pct,avg_ast,avg_reb,...,opp_avg_efg_pct,opp_avg_fgm,opp_win_streak,opp_home_avg_pts,opp_away_avg_pts,opp_home_win_pct,opp_away_win_pct,TEAM_ID,TEAM_WINS,IS_HOME
0,10400070,2004,2004-10-22,1610612737,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0,0.000000,0.0,0.0,0.0,1610612737,0,1
1,10400073,2004,2004-10-23,1610612737,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.619000,39.0,1,0.000000,0.0,0.0,0.0,1610612737,0,0
2,20400013,2004,2004-11-03,1610612737,112.0,0.479333,0.765333,0.403667,22.333333,51.333333,...,0.569500,39.0,2,104.000000,0.0,1.0,0.0,1610612737,0,0
3,20400029,2004,2004-11-05,1610612737,87.5,0.414500,0.780500,0.345500,16.250000,38.500000,...,0.557667,41.0,3,108.000000,0.0,1.0,0.0,1610612737,0,0
4,20400044,2004,2004-11-07,1610612737,94.0,0.400250,0.778750,0.360750,17.000000,44.000000,...,0.557000,40.0,4,107.333333,0.0,1.0,0.0,1610612737,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50469,22200414,2022,2022-12-14,1610612766,110.8,0.460800,0.757900,0.377800,23.700000,41.300000,...,0.560200,43.3,5,121.000000,113.8,0.8,0.6,1610612766,0,1
50470,22200428,2022,2022-12-16,1610612766,111.0,0.463800,0.791800,0.318500,23.800000,43.000000,...,0.571500,44.1,6,121.000000,120.4,0.8,0.8,1610612766,0,1
50471,22200450,2022,2022-12-18,1610612766,117.8,0.533300,0.735900,0.359400,28.500000,40.500000,...,0.586800,44.4,7,126.200000,120.4,1.0,0.8,1610612766,0,0
50472,22200460,2022,2022-12-19,1610612766,115.4,0.483200,0.806000,0.343000,26.100000,43.700000,...,0.591000,44.6,8,123.600000,120.4,1.0,0.8,1610612766,1,0
50473,22200476,2022,2022-12-21,1610612766,107.1,0.421500,0.764200,0.374000,21.200000,47.300000,...,0.572700,43.6,0,126.200000,120.4,0.8,0.8,1610612766,0,0

In [20]:
overall_merged.columns

Index(['GAME_ID', 'SEASON', 'GAME_DATE_EST', 'OPP_TEAM_ID_x', 'avg_pts',
       'avg_fg_pct', 'avg_ft_pct', 'avg_fg3_pct', 'avg_ast', 'avg_reb',
       'avg_stl', 'avg_to', 'avg_pf', 'avg_fga', 'avg_efg_pct', 'avg_fgm',
       'win_streak', 'home_avg_pts', 'away_avg_pts', 'home_win_pct',
       'away_win_pct', 'home_head_to_head_avg_pts',
       'home_head_to_head_win_pct', 'OPP_TEAM_ID_y',
       'away_head_to_head_avg_pts', 'away_head_to_head_win_pct', 'opp_avg_pts',
       'opp_avg_fg_pct', 'opp_avg_ft_pct', 'opp_avg_fg3_pct', 'opp_avg_ast',
       'opp_avg_reb', 'opp_avg_stl', 'opp_avg_to', 'opp_avg_pf', 'opp_avg_fga',
       'opp_avg_efg_pct', 'opp_avg_fgm', 'opp_win_streak', 'opp_home_avg_pts',
       'opp_away_avg_pts', 'opp_home_win_pct', 'opp_away_win_pct', 'TEAM_ID',
       'TEAM_WINS', 'IS_HOME'],
      dtype='object')

In [21]:
overall_merged.drop(columns='TEAM_ID',axis=1, inplace=True)

In [22]:
overall_merged

,GAME_ID,SEASON,GAME_DATE_EST,OPP_TEAM_ID_x,avg_pts,avg_fg_pct,avg_ft_pct,avg_fg3_pct,avg_ast,avg_reb,...,opp_avg_fga,opp_avg_efg_pct,opp_avg_fgm,opp_win_streak,opp_home_avg_pts,opp_away_avg_pts,opp_home_win_pct,opp_away_win_pct,TEAM_WINS,IS_HOME
0,10400070,2004,2004-10-22,1610612737,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0,0.000000,0.0,0.0,0.0,0,1
1,10400073,2004,2004-10-23,1610612737,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,67.000000,0.619000,39.0,1,0.000000,0.0,0.0,0.0,0,0
2,20400013,2004,2004-11-03,1610612737,112.0,0.479333,0.765333,0.403667,22.333333,51.333333,...,71.500000,0.569500,39.0,2,104.000000,0.0,1.0,0.0,0,0
3,20400029,2004,2004-11-05,1610612737,87.5,0.414500,0.780500,0.345500,16.250000,38.500000,...,77.333333,0.557667,41.0,3,108.000000,0.0,1.0,0.0,0,0
4,20400044,2004,2004-11-07,1610612737,94.0,0.400250,0.778750,0.360750,17.000000,44.000000,...,76.250000,0.557000,40.0,4,107.333333,0.0,1.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50469,22200414,2022,2022-12-14,1610612766,110.8,0.460800,0.757900,0.377800,23.700000,41.300000,...,89.200000,0.560200,43.3,5,121.000000,113.8,0.8,0.6,0,1
50470,22200428,2022,2022-12-16,1610612766,111.0,0.463800,0.791800,0.318500,23.800000,43.000000,...,89.200000,0.571500,44.1,6,121.000000,120.4,0.8,0.8,0,1
50471,22200450,2022,2022-12-18,1610612766,117.8,0.533300,0.735900,0.359400,28.500000,40.500000,...,88.100000,0.586800,44.4,7,126.200000,120.4,1.0,0.8,0,0
50472,22200460,2022,2022-12-19,1610612766,115.4,0.483200,0.806000,0.343000,26.100000,43.700000,...,87.900000,0.591000,44.6,8,123.600000,120.4,1.0,0.8,1,0
50473,22200476,2022,2022-12-21,1610612766,107.1,0.421500,0.764200,0.374000,21.200000,47.300000,...,88.100000,0.572700,43.6,0,126.200000,120.4,0.8,0.8,0,0

In [103]:
#team_data_one=pd.read_excel(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\modelling_team_data.xlsx")

In [24]:
overall_merged = overall_merged.round(3)

In [26]:
overall_merged = overall_merged[overall_merged['SEASON'] != 2004]

In [28]:
overall_merged

,GAME_ID,SEASON,GAME_DATE_EST,OPP_TEAM_ID_x,avg_pts,avg_fg_pct,avg_ft_pct,avg_fg3_pct,avg_ast,avg_reb,...,opp_avg_fga,opp_avg_efg_pct,opp_avg_fgm,opp_win_streak,opp_home_avg_pts,opp_away_avg_pts,opp_home_win_pct,opp_away_win_pct,TEAM_WINS,IS_HOME
84,10500003,2005,2005-10-11,1610612737,97.5,0.462,0.676,0.367,20.6,41.8,...,78.9,0.539,39.0,2,112.0,102.6,0.8,0.8,0,1
85,10500015,2005,2005-10-12,1610612737,96.9,0.452,0.758,0.305,22.6,42.0,...,79.3,0.531,38.7,3,112.0,104.2,0.8,0.8,1,1
86,10500042,2005,2005-10-17,1610612737,95.2,0.444,0.745,0.272,22.3,41.6,...,80.9,0.533,39.6,0,110.4,104.2,0.8,0.8,0,0
87,10500047,2005,2005-10-18,1610612737,87.3,0.417,0.766,0.304,20.3,39.3,...,79.9,0.537,39.7,1,108.8,104.2,0.8,0.8,1,0
88,10500074,2005,2005-10-22,1610612737,94.1,0.456,0.654,0.326,19.0,40.0,...,79.1,0.542,39.5,0,105.8,104.2,0.6,0.8,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50469,22200414,2022,2022-12-14,1610612766,110.8,0.461,0.758,0.378,23.7,41.3,...,89.2,0.560,43.3,5,121.0,113.8,0.8,0.6,0,1
50470,22200428,2022,2022-12-16,1610612766,111.0,0.464,0.792,0.318,23.8,43.0,...,89.2,0.572,44.1,6,121.0,120.4,0.8,0.8,0,1
50471,22200450,2022,2022-12-18,1610612766,117.8,0.533,0.736,0.359,28.5,40.5,...,88.1,0.587,44.4,7,126.2,120.4,1.0,0.8,0,0
50472,22200460,2022,2022-12-19,1610612766,115.4,0.483,0.806,0.343,26.1,43.7,...,87.9,0.591,44.6,8,123.6,120.4,1.0,0.8,1,0
50473,22200476,2022,2022-12-21,1610612766,107.1,0.422,0.764,0.374,21.2,47.3,...,88.1,0.573,43.6,0,126.2,120.4,0.8,0.8,0,0

In [29]:
overall_merged.to_excel(r"C:\Users\Daphne\OneDrive\Documents\NBA data set\modelling_team_data_new.xlsx")